@import 'element-plus/theme-chalk/display.css';
body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
}

//.el-row {
// margin-bottom: 10px;
//}
//.el-col {
// margin   : 10px 10px;
//}
// .el-scrollbar > p{
//     margin-left: 0;
//     margin-right: 0;
// }
.header {
    padding: 15px;
    height: 50px;
    background-color: #fff;
    text-align: left;
}

.header>h3 {
    margin: 0;
    padding: 0;
    display: inline;
}

.header>div.user {
    display: inline;
    float: right;
    margin: auto;
    margin-top: -2px;
    font-size: 1.4rem;
}

.svg {
    display: inline-block;
    margin: 0 5px;
}