@import "element-plus/theme-chalk/display.css";

@import "./config-light.scss";

html.light {
    filter: invert(0) hue-rotate(0);
    transition-property: all;
    transition-duration: 0.8s;
}

html.dark {
    filter: invert(1) hue-rotate(180deg);
    transition-property: all;
    transition-duration: 0.8s;
}

body {
    margin: 0;
    padding: 0;
    background-color: $bg;
}

p {
    width: 99% !important;
}

.el-card {
    border: 1.5px solid $bd-card !important;
    background-color: $bg-card;
    color: $ft;
    border-radius: 9px;
    background: $bg-card;
    box-shadow: 5px 5px 10px $sd-1, -5px -5px 10px $sd-2 !important;
}

.header {
    color: $ft;
    height: 50px;
    background-color: $bg-card;
    text-align: left;
    box-shadow: 7px 7px 14px $sd-1, -7px -7px 14px $sd-2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        margin: 0;
        padding: 0;
        display: inline;
    }

    .user {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
        
        > i{
            margin-right: 8px;
            font-size: 1.4rem;
        }

        .el-badge {
            margin-right: 8px;
            font-size: 1.4rem;
        }
    }

}

.svg {
    display: inline-block;
    margin: 0 5px;
}

.el-tabs {
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

.el-message--success,
.el-message--info,
.el-message--warning,
.el-message--error {
    min-width: 200px !important;
}

.el-tabs__item {
    color: $ft !important;
}

/* .v-md-editor-preview img {
    width: 80%;
    margin: 10px 10%;
    height: auto;
    border-radius: 15px;
} */

.v-md-editor-preview audio {
    width: 100%;
    max-width: 400px;
}
