@import 'element-plus/theme-chalk/display.css';

@import './config-light.scss';

html.light {
  filter: invert(0) hue-rotate(0);
  transition-property: all;
  transition-duration: 0.8s;
}

html.dark {
  filter: invert(1) hue-rotate(180deg);
  transition-property: all;
  transition-duration: 0.8s;
}

body {
  margin: 0;
  padding: 0;
  background-color: $bg;
}

p {
  width: 99% !important;
}

.el-card {
  border: 1.5px solid $bd-card !important;
  background-color: $bg-card;
  color: $ft;
  border-radius: 9px;
  background: $bg-card;
  box-shadow: 5px 5px 10px $sd-1, -5px -5px 10px $sd-2 !important;
}

.header {
  color: $ft;
  height: 50px;
  background-color: $bg-card;
  text-align: left;
  box-shadow: 7px 7px 14px $sd-1, -7px -7px 14px $sd-2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10 !important;

  h3 {
    margin: 0;
    padding: 0;
    display: inline;
  }

  .user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;

    > .el-button {
      font-size: 1.4rem;
      margin-left: 2.5px;
      margin-right: 2.5px;
      color: black;
    }

    .el-dropdown {
      font-size: 1.1rem;
      margin-left: 2.5px;
      color: black;
    }
  }
}

.svg {
  display: inline-block;
  margin: 0 5px;
}

.el-tabs {
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.el-message--success,
.el-message--info,
.el-message--warning,
.el-message--error {
  min-width: 200px !important;
}

.el-tabs__item {
  color: $ft !important;
}

.el-message-box__message {
  p {
    word-break: break-all;
  }
}
.el-notification__group {
  width: 90%;
}

.is-horizontal {
  .el-scrollbar__thumb {
    display: none;
  }
}

.v-md-editor-preview audio {
  width: 100%;
  max-width: 400px;
}

.emoji {
  display: inline-block;
  width: 1.2rem !important;
  height: 1.2rem !important;
  margin: 0 3px !important;
  border-radius: 0 !important;
}

/* For IM */

.room-item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  align-content: center;
  padding-top: 20px;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;

  .room-item-right {
    margin-left: 20px;
    margin-top: -15px;
    width: calc(100% - 80px);
    user-select: none;

    .room-name {
      width: 100%;
      display: inline-block;
      word-break: keep-all;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: default;
    }
    .latest-message {
      color: rgba(0, 0, 0, 0.4);
      width: 100%;
      display: inline-block;
      word-break: keep-all;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: default;
    }
  }
}
.room-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.room-item:active {
  background-color: rgba(0, 0, 0, 0.08);
}
.room-item-current {
  background-color: rgba(0, 0, 0, 0.12);
}
.room-item-current:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.12);
}

#el-input::-webkit-scrollbar {
  width: 2px;
}
.el-badge__content {
  border: none !important;
}

.msg-sender {
  margin-top: -2.5px;
  color: rgba(0, 0, 0, 0.5);
  font-size: small;
  cursor: default;
  user-select: none;
}
.msg-item {
  margin: 10px;
  .msg-content {
    white-space: pre-wrap;
    word-break: break-all;
  }
  .el-image {
    min-width: 50px;
    min-height: 50px;
  }
  img.el-image__inner {
    width: auto;
    height: auto;
    max-width: 50% !important;
    max-height: 80% !important;

    margin-top: 5px;
    border-radius: 5px;
  }
  .music-preview-card {
    max-width: 65%;
    margin: 5px;
    min-width: 300px;
    text-align: left;
  }
}
.msg-item-system {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: small;
  cursor: default;
  user-select: none;
}
.msg-item-left {
  display: flex;
  margin-bottom: 20px;
  padding-top: 12px;
  .msg-sender {
    margin-left: 10px;
  }
  .msg-content {
    margin-left: 10px;
    padding-right: 8%;
  }
  .msg-item-content {
    width: 100%;
    text-align: left;
  }

  .music-preview-card {
    float: left;
  }
}
.msg-item-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-right: 17.5px;
  .msg-sender {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
  }
  .msg-content {
    margin-right: 10px;
    padding-left: 8%;
  }
  .msg-item-content {
    width: 100%;
    text-align: right;
  }
  .msg-content-text {
    text-align: left;
    float: right;
  }
  div.el-image {
    text-align: right;
  }
  .music-preview-card {
    float: right;
  }
}
