.windowsmenu {
    position: fixed;
    justify-content: space-between;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 30px;
    background-color: rgb(0, 0, 0);
    z-index: 10000;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-flex;
}

.appbt {
    margin-left: 5px;
    height: 100%;
    aspect-ratio: 1/1;
    text-align: center;
}

.window {
    position: fixed;
    border-radius: 7px 7px 5px 5px;
    background-color: grey;
    position: absolute;
    box-shadow: rgb(0, 0, 0) 5px 5px 10px 1px;
    z-index: 0;
}

.head {
    width: 100%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    z-index: 9999;
    display: inline-flex;
    justify-content: space-between;
    border-radius: 5px 5px 0px 0px;
}

.inner {
    margin: 5px;
    display: inline-flex;
}